html, body {
  background-image: url('../images/hotel.jpg');
  /* background-image: url('../images/tokyo.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-circle.btn-xl { 
  width: 200px; 
  height: 200px; 
  padding: 20px 20px; 
  border-radius: 50px; 
  text-align: center; 
}

.btn-primary {
  color: white;
  /* background-color: #1f9ad3;
  border-color: #1f9ad3 */
  background-color: #f700ff;
  border-color: #f700ff
}

.btn-primary:hover {
  color: white;
  /* background-color: #1660a7;
  border-color: #1660a7; */
  background-color: #9616a7;
  border-color: #9616a7;
}
