// https://vueschool.io/articles/vuejs-tutorials/globally-load-sass-into-your-vue-js-applications/
// https://getbootstrap.com/docs/5.1/customize/sass/
// https://bootstrap-vue.org/docs/reference/theming/

$primary: #e95ba2;
$secondary: #f3a1ca;
$danger: #ff0000;
